HBase_Timeseries_Puts.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>HBase Timeseries Puts</name><snippet><connections><id>4513607d-47e2-4b05-8fd9-468866bebf8b</id><parentGroupId>1f635eba-fdae-4d17-b974-e0323a08dff2</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>1f635eba-fdae-4d17-b974-e0323a08dff2</groupId><id>b035134b-f47a-4b68-a06c-1a8c92df685b</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>1f635eba-fdae-4d17-b974-e0323a08dff2</groupId><id>f68bcec3-4986-4a0b-822a-39392aff8f4b</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>378bdda6-d428-4c02-a9a4-797ec4676f0d</id><parentGroupId>1f635eba-fdae-4d17-b974-e0323a08dff2</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>1f635eba-fdae-4d17-b974-e0323a08dff2</groupId><id>727ff6a8-7a86-4e23-b244-a3b1a306ee43</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>1f635eba-fdae-4d17-b974-e0323a08dff2</groupId><id>cf1b56b6-f6d8-425e-ac9d-4a0931d9ebd7</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>0a0d2b16-6669-48d9-a572-980f2ef033fb</id><parentGroupId>1f635eba-fdae-4d17-b974-e0323a08dff2</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>1f635eba-fdae-4d17-b974-e0323a08dff2</groupId><id>92689b77-5c1d-4b6a-8fe6-7aa7a0d6772b</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>splits</selectedRelationships><source><groupId>1f635eba-fdae-4d17-b974-e0323a08dff2</groupId><id>727ff6a8-7a86-4e23-b244-a3b1a306ee43</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>8d4af808-e058-4183-8754-a3b454f64c1b</id><parentGroupId>1f635eba-fdae-4d17-b974-e0323a08dff2</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>1f635eba-fdae-4d17-b974-e0323a08dff2</groupId><id>b035134b-f47a-4b68-a06c-1a8c92df685b</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>0</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>1f635eba-fdae-4d17-b974-e0323a08dff2</groupId><id>17f46237-2afe-45d2-b514-336a5c1515e8</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>891ea50a-23b9-48bb-a35f-485d0e4160c5</id><parentGroupId>1f635eba-fdae-4d17-b974-e0323a08dff2</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>1f635eba-fdae-4d17-b974-e0323a08dff2</groupId><id>f68bcec3-4986-4a0b-822a-39392aff8f4b</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>1f635eba-fdae-4d17-b974-e0323a08dff2</groupId><id>92689b77-5c1d-4b6a-8fe6-7aa7a0d6772b</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>5daae939-4424-4b87-8c66-29069f46bc0e</id><parentGroupId>1f635eba-fdae-4d17-b974-e0323a08dff2</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>1f635eba-fdae-4d17-b974-e0323a08dff2</groupId><id>17f46237-2afe-45d2-b514-336a5c1515e8</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>1f635eba-fdae-4d17-b974-e0323a08dff2</groupId><id>92689b77-5c1d-4b6a-8fe6-7aa7a0d6772b</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><controllerServices><id>ab8dc3f1-9a7b-4b02-b9ae-d85b28c9f8be</id><comments></comments><descriptors><entry><key>Hadoop Configuration Files</key><value><description>Comma-separated list of Hadoop Configuration files, such as hbase-site.xml and core-site.xml for kerberos, including full paths to the files.</description><displayName>Hadoop Configuration Files</displayName><dynamic>false</dynamic><name>Hadoop Configuration Files</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Principal</key><value><description>Kerberos principal to authenticate as. Requires nifi.kerberos.krb5.file to be set in your nifi.properties</description><displayName>Kerberos Principal</displayName><dynamic>false</dynamic><name>Kerberos Principal</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Keytab</key><value><description>Kerberos keytab associated with the principal. Requires nifi.kerberos.krb5.file to be set in your nifi.properties</description><displayName>Kerberos Keytab</displayName><dynamic>false</dynamic><name>Kerberos Keytab</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ZooKeeper Quorum</key><value><description>Comma-separated list of ZooKeeper hosts for HBase. Required if Hadoop Configuration Files are not provided.</description><displayName>ZooKeeper Quorum</displayName><dynamic>false</dynamic><name>ZooKeeper Quorum</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ZooKeeper Client Port</key><value><description>The port on which ZooKeeper is accepting client connections. Required if Hadoop Configuration Files are not provided.</description><displayName>ZooKeeper Client Port</displayName><dynamic>false</dynamic><name>ZooKeeper Client Port</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ZooKeeper ZNode Parent</key><value><description>The ZooKeeper ZNode Parent value for HBase (example: /hbase). Required if Hadoop Configuration Files are not provided.</description><displayName>ZooKeeper ZNode Parent</displayName><dynamic>false</dynamic><name>ZooKeeper ZNode Parent</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>HBase Client Retries</key><value><defaultValue>1</defaultValue><description>The number of times the HBase client will retry connecting. Required if Hadoop Configuration Files are not provided.</description><displayName>HBase Client Retries</displayName><dynamic>false</dynamic><name>HBase Client Retries</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>HBase_1_1_2_ClientService</name><properties><entry><key>Hadoop Configuration Files</key><value>/etc/hadoop/conf/hdfs-site.xml</value></entry><entry><key>Kerberos Principal</key></entry><entry><key>Kerberos Keytab</key></entry><entry><key>ZooKeeper Quorum</key><value>helene.saturn</value></entry><entry><key>ZooKeeper Client Port</key><value>2181</value></entry><entry><key>ZooKeeper ZNode Parent</key><value>/hbase</value></entry><entry><key>HBase Client Retries</key><value>1</value></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>HBase Client Service</key><value><allowableValues><displayName>HBase_1_1_2_ClientService</displayName><value>ab8dc3f1-9a7b-4b02-b9ae-d85b28c9f8be</value></allowableValues><description>Specifies the Controller Service to use for accessing HBase.</description><displayName>HBase Client Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService><name>HBase Client Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>The name of the HBase Table to put data into</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier</key><value><description>Specifies the Row ID to use when inserting data into HBase</description><displayName>Row Identifier</displayName><dynamic>false</dynamic><name>Row Identifier</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier Field Name</key><value><description>Specifies the name of a JSON element whose value should be used as the row id for the given JSON document.</description><displayName>Row Identifier Field Name</displayName><dynamic>false</dynamic><name>Row Identifier Field Name</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Column Family</key><value><description>The Column Family to use when inserting data into HBase</description><displayName>Column Family</displayName><dynamic>false</dynamic><name>Column Family</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>25</defaultValue><description>The maximum number of FlowFiles to process in a single execution. The FlowFiles will be grouped by table, and a single Put per table will be performed.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Complex Field Strategy</key><value><allowableValues><description>Route entire FlowFile to failure if any elements contain complex values.</description><displayName>Fail</displayName><value>Fail</value></allowableValues><allowableValues><description>Provide a warning and do not include field in row sent to HBase.</description><displayName>Warn</displayName><value>Warn</value></allowableValues><allowableValues><description>Silently ignore and do not include in row sent to HBase.</description><displayName>Ignore</displayName><value>Ignore</value></allowableValues><allowableValues><description>Use the string representation of the complex field as the value of the given column.</description><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Text</defaultValue><description>Indicates how to handle complex fields, i.e. fields that do not have a single text value.</description><displayName>Complex Field Strategy</displayName><dynamic>false</dynamic><name>Complex Field Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>1f635eba-fdae-4d17-b974-e0323a08dff2</groupId><id>17f46237-2afe-45d2-b514-336a5c1515e8</id><name>PutHBaseJSON</name><properties><entry><key>HBase Client Service</key><value>ab8dc3f1-9a7b-4b02-b9ae-d85b28c9f8be</value></entry><entry><key>Table Name</key><value>timeseries</value></entry><entry><key>Row Identifier</key><value>${id}-${t}</value></entry><entry><key>Row Identifier Field Name</key></entry><entry><key>Column Family</key><value>cf</value></entry><entry><key>Batch Size</key><value>25</value></entry><entry><key>Complex Field Strategy</key><value>Text</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.hbase.PutHBaseJSON</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>HBase Client Service</key><value><allowableValues><displayName>HBase_1_1_2_ClientService</displayName><value>ab8dc3f1-9a7b-4b02-b9ae-d85b28c9f8be</value></allowableValues><description>Specifies the Controller Service to use for accessing HBase.</description><displayName>HBase Client Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService><name>HBase Client Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>The name of the HBase Table to put data into</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier</key><value><description>Specifies the Row ID to use when inserting data into HBase</description><displayName>Row Identifier</displayName><dynamic>false</dynamic><name>Row Identifier</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier Field Name</key><value><description>Specifies the name of a JSON element whose value should be used as the row id for the given JSON document.</description><displayName>Row Identifier Field Name</displayName><dynamic>false</dynamic><name>Row Identifier Field Name</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Column Family</key><value><description>The Column Family to use when inserting data into HBase</description><displayName>Column Family</displayName><dynamic>false</dynamic><name>Column Family</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>25</defaultValue><description>The maximum number of FlowFiles to process in a single execution. The FlowFiles will be grouped by table, and a single Put per table will be performed.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Complex Field Strategy</key><value><allowableValues><description>Route entire FlowFile to failure if any elements contain complex values.</description><displayName>Fail</displayName><value>Fail</value></allowableValues><allowableValues><description>Provide a warning and do not include field in row sent to HBase.</description><displayName>Warn</displayName><value>Warn</value></allowableValues><allowableValues><description>Silently ignore and do not include in row sent to HBase.</description><displayName>Ignore</displayName><value>Ignore</value></allowableValues><allowableValues><description>Use the string representation of the complex field as the value of the given column.</description><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Text</defaultValue><description>Indicates how to handle complex fields, i.e. fields that do not have a single text value.</description><displayName>Complex Field Strategy</displayName><dynamic>false</dynamic><name>Complex Field Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>1f635eba-fdae-4d17-b974-e0323a08dff2</groupId><id>f68bcec3-4986-4a0b-822a-39392aff8f4b</id><name>PutHBaseJSON</name><properties><entry><key>HBase Client Service</key><value>ab8dc3f1-9a7b-4b02-b9ae-d85b28c9f8be</value></entry><entry><key>Table Name</key><value>test</value></entry><entry><key>Row Identifier</key><value>${id}-${t:substring(0,9)}</value></entry><entry><key>Row Identifier Field Name</key></entry><entry><key>Column Family</key><value>${t:substring(0,10):substring(9)}</value></entry><entry><key>Batch Size</key><value>25</value></entry><entry><key>Complex Field Strategy</key><value>Text</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.hbase.PutHBaseJSON</type></referencingComponents><state>ENABLED</state><type>org.apache.nifi.hbase.HBase_1_1_2_ClientService</type></controllerServices><processors><id>727ff6a8-7a86-4e23-b244-a3b1a306ee43</id><parentGroupId>1f635eba-fdae-4d17-b974-e0323a08dff2</parentGroupId><position><x>39.094742829860024</x><y>213.61130162813083</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Line Split Count</key><value><description>The number of lines that will be added to each split file (excluding the header, if the Header Line Count property is greater than 0).</description><displayName>Line Split Count</displayName><dynamic>false</dynamic><name>Line Split Count</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Header Line Count</key><value><defaultValue>0</defaultValue><description>The number of lines that should be considered part of the header; the header lines will be duplicated to all split files</description><displayName>Header Line Count</displayName><dynamic>false</dynamic><name>Header Line Count</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remove Trailing Newlines</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Whether to remove newlines at the end of each split file. This should be false if you intend to merge the split files later. If this is set to 'true' and a FlowFile is generated that contains only 'empty lines' (i.e., consists only of &#xD; and 
 characters), the FlowFile will not be emitted. Note, however, that if the Header Line Count is greater than 0, the resultant FlowFile will never be empty as it will consist of the header lines, so a FlowFile may be emitted that contians only the header lines.</description><displayName>Remove Trailing Newlines</displayName><dynamic>false</dynamic><name>Remove Trailing Newlines</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Line Split Count</key><value>1</value></entry><entry><key>Header Line Count</key><value>0</value></entry><entry><key>Remove Trailing Newlines</key><value>true</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>SplitText</name><relationships><autoTerminate>true</autoTerminate><description>If a file cannot be split for some reason, the original file will be routed to this destination and nothing will be routed elsewhere</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original input file will be routed to this destination when it has been successfully split into 1 or more files</description><name>original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>The split files will be routed to this destination when an input file is successfully split into 1 or more split files</description><name>splits</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.SplitText</type></processors><processors><id>b035134b-f47a-4b68-a06c-1a8c92df685b</id><parentGroupId>1f635eba-fdae-4d17-b974-e0323a08dff2</parentGroupId><position><x>619.5631269685512</x><y>606.0108005956017</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Directory</key><value><description>The directory to which files should be written. You may use expression language such as /aa/bb/${path}</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Conflict Resolution Strategy</key><value><allowableValues><displayName>replace</displayName><value>replace</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>fail</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Conflict Resolution Strategy</displayName><dynamic>false</dynamic><name>Conflict Resolution Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Create Missing Directories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.</description><displayName>Create Missing Directories</displayName><dynamic>false</dynamic><name>Create Missing Directories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Count</key><value><description>Specifies the maximum number of files that can exist in the output directory</description><displayName>Maximum File Count</displayName><dynamic>false</dynamic><name>Maximum File Count</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Last Modified Time</key><value><description>Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.</description><displayName>Last Modified Time</displayName><dynamic>false</dynamic><name>Last Modified Time</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Permissions</key><value><description>Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.</description><displayName>Permissions</displayName><dynamic>false</dynamic><name>Permissions</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Owner</key><value><description>Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}.</description><displayName>Owner</displayName><dynamic>false</dynamic><name>Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Group</key><value><description>Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.</description><displayName>Group</displayName><dynamic>false</dynamic><name>Group</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Directory</key><value>/tmp/missedputs/</value></entry><entry><key>Conflict Resolution Strategy</key><value>replace</value></entry><entry><key>Create Missing Directories</key><value>true</value></entry><entry><key>Maximum File Count</key></entry><entry><key>Last Modified Time</key></entry><entry><key>Permissions</key></entry><entry><key>Owner</key></entry><entry><key>Group</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutFile</name><relationships><autoTerminate>true</autoTerminate><description>Files that could not be written to the output directory for some reason are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Files that have been successfully written to the output directory are transferred to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PutFile</type></processors><processors><id>cf1b56b6-f6d8-425e-ac9d-4a0931d9ebd7</id><parentGroupId>1f635eba-fdae-4d17-b974-e0323a08dff2</parentGroupId><position><x>29.5007547334842</x><y>57.10081572757514</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Mode</key><value><allowableValues><displayName>compress</displayName><value>compress</value></allowableValues><allowableValues><displayName>decompress</displayName><value>decompress</value></allowableValues><defaultValue>compress</defaultValue><description>Indicates whether the processor should compress content or decompress content. Must be either 'compress' or 'decompress'</description><displayName>Mode</displayName><dynamic>false</dynamic><name>Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Compression Format</key><value><allowableValues><displayName>use mime.type attribute</displayName><value>use mime.type attribute</value></allowableValues><allowableValues><displayName>gzip</displayName><value>gzip</value></allowableValues><allowableValues><displayName>bzip2</displayName><value>bzip2</value></allowableValues><allowableValues><displayName>xz-lzma2</displayName><value>xz-lzma2</value></allowableValues><allowableValues><displayName>lzma</displayName><value>lzma</value></allowableValues><allowableValues><displayName>snappy</displayName><value>snappy</value></allowableValues><allowableValues><displayName>snappy framed</displayName><value>snappy framed</value></allowableValues><defaultValue>use mime.type attribute</defaultValue><description>The compression format to use. Valid values are: GZIP, BZIP2, XZ-LZMA2, LZMA, Snappy, and Snappy Framed</description><displayName>Compression Format</displayName><dynamic>false</dynamic><name>Compression Format</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Compression Level</key><value><allowableValues><displayName>0</displayName><value>0</value></allowableValues><allowableValues><displayName>1</displayName><value>1</value></allowableValues><allowableValues><displayName>2</displayName><value>2</value></allowableValues><allowableValues><displayName>3</displayName><value>3</value></allowableValues><allowableValues><displayName>4</displayName><value>4</value></allowableValues><allowableValues><displayName>5</displayName><value>5</value></allowableValues><allowableValues><displayName>6</displayName><value>6</value></allowableValues><allowableValues><displayName>7</displayName><value>7</value></allowableValues><allowableValues><displayName>8</displayName><value>8</value></allowableValues><allowableValues><displayName>9</displayName><value>9</value></allowableValues><defaultValue>1</defaultValue><description>The compression level to use; this is valid only when using GZIP compression. A lower value results in faster processing but less compression; a value of 0 indicates no compression but simply archiving</description><displayName>Compression Level</displayName><dynamic>false</dynamic><name>Compression Level</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Update Filename</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, will remove the filename extension when decompressing data (only if the extension indicates the appropriate compression format) and add the appropriate extension when compressing data</description><displayName>Update Filename</displayName><dynamic>false</dynamic><name>Update Filename</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Mode</key><value>decompress</value></entry><entry><key>Compression Format</key><value>use mime.type attribute</value></entry><entry><key>Compression Level</key><value>1</value></entry><entry><key>Update Filename</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>CompressContent</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles will be transferred to the failure relationship if they fail to compress/decompress</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles will be transferred to the success relationship after successfully being compressed or decompressed</description><name>success</name></relationships><state>STOPPED</state><style><entry><key>background-color</key><value>#3ae61c</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.CompressContent</type></processors><processors><id>17f46237-2afe-45d2-b514-336a5c1515e8</id><parentGroupId>1f635eba-fdae-4d17-b974-e0323a08dff2</parentGroupId><position><x>52.65519714355469</x><y>606.1160888671875</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>8</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>HBase Client Service</key><value><allowableValues><displayName>HBase_1_1_2_ClientService</displayName><value>ab8dc3f1-9a7b-4b02-b9ae-d85b28c9f8be</value></allowableValues><description>Specifies the Controller Service to use for accessing HBase.</description><displayName>HBase Client Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService><name>HBase Client Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>The name of the HBase Table to put data into</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier</key><value><description>Specifies the Row ID to use when inserting data into HBase</description><displayName>Row Identifier</displayName><dynamic>false</dynamic><name>Row Identifier</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier Field Name</key><value><description>Specifies the name of a JSON element whose value should be used as the row id for the given JSON document.</description><displayName>Row Identifier Field Name</displayName><dynamic>false</dynamic><name>Row Identifier Field Name</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Column Family</key><value><description>The Column Family to use when inserting data into HBase</description><displayName>Column Family</displayName><dynamic>false</dynamic><name>Column Family</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>25</defaultValue><description>The maximum number of FlowFiles to process in a single execution. The FlowFiles will be grouped by table, and a single Put per table will be performed.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Complex Field Strategy</key><value><allowableValues><description>Route entire FlowFile to failure if any elements contain complex values.</description><displayName>Fail</displayName><value>Fail</value></allowableValues><allowableValues><description>Provide a warning and do not include field in row sent to HBase.</description><displayName>Warn</displayName><value>Warn</value></allowableValues><allowableValues><description>Silently ignore and do not include in row sent to HBase.</description><displayName>Ignore</displayName><value>Ignore</value></allowableValues><allowableValues><description>Use the string representation of the complex field as the value of the given column.</description><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Text</defaultValue><description>Indicates how to handle complex fields, i.e. fields that do not have a single text value.</description><displayName>Complex Field Strategy</displayName><dynamic>false</dynamic><name>Complex Field Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>HBase Client Service</key><value>ab8dc3f1-9a7b-4b02-b9ae-d85b28c9f8be</value></entry><entry><key>Table Name</key><value>timeseries</value></entry><entry><key>Row Identifier</key><value>${id}-${t}</value></entry><entry><key>Row Identifier Field Name</key></entry><entry><key>Column Family</key><value>cf</value></entry><entry><key>Batch Size</key><value>25</value></entry><entry><key>Complex Field Strategy</key><value>Text</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutHBaseJSON</name><relationships><autoTerminate>false</autoTerminate><description>A FlowFile is routed to this relationship if it cannot be sent to HBase</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>A FlowFile is routed to this relationship after it has been successfully stored in HBase</description><name>success</name></relationships><state>RUNNING</state><style><entry><key>background-color</key><value>#b04444</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.hbase.PutHBaseJSON</type></processors><processors><id>92689b77-5c1d-4b6a-8fe6-7aa7a0d6772b</id><parentGroupId>1f635eba-fdae-4d17-b974-e0323a08dff2</parentGroupId><position><x>43.17896742466337</x><y>411.48844166743106</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Destination</key><value><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><defaultValue>flowfile-content</defaultValue><description>Indicates whether the results of the JsonPath evaluation are written to the FlowFile content or a FlowFile attribute; if using attribute, must specify the Attribute Name property. If set to flowfile-content, only one JsonPath may be specified, and the property name is ignored.</description><displayName>Destination</displayName><dynamic>false</dynamic><name>Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Return Type</key><value><allowableValues><displayName>auto-detect</displayName><value>auto-detect</value></allowableValues><allowableValues><displayName>json</displayName><value>json</value></allowableValues><allowableValues><displayName>scalar</displayName><value>scalar</value></allowableValues><defaultValue>auto-detect</defaultValue><description>Indicates the desired return type of the JSON Path expressions.  Selecting 'auto-detect' will set the return type to 'json' for a Destination of 'flowfile-content', and 'scalar' for a Destination of 'flowfile-attribute'.</description><displayName>Return Type</displayName><dynamic>false</dynamic><name>Return Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Not Found Behavior</key><value><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><defaultValue>ignore</defaultValue><description>Indicates how to handle missing JSON path expressions when destination is set to 'flowfile-attribute'. Selecting 'warn' will generate a warning when a JSON path expression is not found.</description><displayName>Path Not Found Behavior</displayName><dynamic>false</dynamic><name>Path Not Found Behavior</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value Representation</key><value><allowableValues><displayName>empty string</displayName><value>empty string</value></allowableValues><allowableValues><displayName>the string 'null'</displayName><value>the string 'null'</value></allowableValues><defaultValue>empty string</defaultValue><description>Indicates the desired representation of JSON Path expressions resulting in a null value.</description><displayName>Null Value Representation</displayName><dynamic>false</dynamic><name>Null Value Representation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>id</key><value><description></description><displayName>id</displayName><dynamic>true</dynamic><name>id</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>t</key><value><description></description><displayName>t</displayName><dynamic>true</dynamic><name>t</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Destination</key><value>flowfile-attribute</value></entry><entry><key>Return Type</key><value>json</value></entry><entry><key>Path Not Found Behavior</key><value>ignore</value></entry><entry><key>Null Value Representation</key><value>empty string</value></entry><entry><key>id</key><value>$.id</value></entry><entry><key>t</key><value>$.t</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>EvaluateJsonPath</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath cannot be evaluated against the content of the FlowFile; for instance, if the FlowFile is not valid JSON</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath is successfully evaluated and the FlowFile is modified as a result</description><name>matched</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath does not match the content of the FlowFile and the Destination is set to flowfile-content</description><name>unmatched</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.EvaluateJsonPath</type></processors><processors><id>f68bcec3-4986-4a0b-822a-39392aff8f4b</id><parentGroupId>1f635eba-fdae-4d17-b974-e0323a08dff2</parentGroupId><position><x>619.5600406764084</x><y>423.582498459652</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>HBase Client Service</key><value><allowableValues><displayName>HBase_1_1_2_ClientService</displayName><value>ab8dc3f1-9a7b-4b02-b9ae-d85b28c9f8be</value></allowableValues><description>Specifies the Controller Service to use for accessing HBase.</description><displayName>HBase Client Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService><name>HBase Client Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>The name of the HBase Table to put data into</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier</key><value><description>Specifies the Row ID to use when inserting data into HBase</description><displayName>Row Identifier</displayName><dynamic>false</dynamic><name>Row Identifier</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier Field Name</key><value><description>Specifies the name of a JSON element whose value should be used as the row id for the given JSON document.</description><displayName>Row Identifier Field Name</displayName><dynamic>false</dynamic><name>Row Identifier Field Name</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Column Family</key><value><description>The Column Family to use when inserting data into HBase</description><displayName>Column Family</displayName><dynamic>false</dynamic><name>Column Family</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>25</defaultValue><description>The maximum number of FlowFiles to process in a single execution. The FlowFiles will be grouped by table, and a single Put per table will be performed.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Complex Field Strategy</key><value><allowableValues><description>Route entire FlowFile to failure if any elements contain complex values.</description><displayName>Fail</displayName><value>Fail</value></allowableValues><allowableValues><description>Provide a warning and do not include field in row sent to HBase.</description><displayName>Warn</displayName><value>Warn</value></allowableValues><allowableValues><description>Silently ignore and do not include in row sent to HBase.</description><displayName>Ignore</displayName><value>Ignore</value></allowableValues><allowableValues><description>Use the string representation of the complex field as the value of the given column.</description><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Text</defaultValue><description>Indicates how to handle complex fields, i.e. fields that do not have a single text value.</description><displayName>Complex Field Strategy</displayName><dynamic>false</dynamic><name>Complex Field Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>HBase Client Service</key><value>ab8dc3f1-9a7b-4b02-b9ae-d85b28c9f8be</value></entry><entry><key>Table Name</key><value>test</value></entry><entry><key>Row Identifier</key><value>${id}-${t:substring(0,9)}</value></entry><entry><key>Row Identifier Field Name</key></entry><entry><key>Column Family</key><value>${t:substring(0,10):substring(9)}</value></entry><entry><key>Batch Size</key><value>25</value></entry><entry><key>Complex Field Strategy</key><value>Text</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutHBaseJSON</name><relationships><autoTerminate>false</autoTerminate><description>A FlowFile is routed to this relationship if it cannot be sent to HBase</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>A FlowFile is routed to this relationship after it has been successfully stored in HBase</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.hbase.PutHBaseJSON</type></processors></snippet><timestamp>06/10/2016 01:00:40 CDT</timestamp></template>